<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <platformList>
    <add key="Google Chrome" value="true" />
    <add key="Firefox" value="true" />
    <add key="IE" value="true" />
  </platformList>

  <projectList>
    <project>
      <add key="projectName" value="GG-Test" />
      <testPlanList>
        <testPlan>
          <add key="testPlanName" value="ginger test plan" />
          <testSuiteList>
            <testSuite>
              <add key="testSuiteName" value="googling" />
              <testCaseList>
                <testCase>
                  <add key="testCaseName" value="hello" />
                </testCase>
              </testCaseList>
            </testSuite>
          </testSuiteList>
        </testPlan>
      </testPlanList>
    </project>
    <project>
      <add key="projectName" value="" />
      <testPlanList>
        <testPlan>
          <add key="testPlanName" value="" />
          <testSuiteList>
            <testSuite>
              <add key="testSuiteName" value="" />
              <testCaseList>
                <testCase>
                  <add key="testCaseName" value="" />
                </testCase>
              </testCaseList>
            </testSuite>
          </testSuiteList>
        </testPlan>
      </testPlanList>
    </project>
  </projectList>
</configuration>