<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fayu.Qa.Selenium.Framework" version="2.0.2" targetFramework="net451" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net451" />
  <package id="Gallio" version="3.3.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="3.2.0" targetFramework="net451" />
  <package id="Selenium.Automation.Framework" version="0.0.1.2" targetFramework="net451" />
  <package id="Selenium.RC" version="2.53.1" targetFramework="net451" />
  <package id="Selenium.Support" version="2.52.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net451" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.53.1" targetFramework="net451" />
  <package id="TestLinkFixture" version="1.0.0.0" targetFramework="net451" />
  <package id="TlNUnitAddOn" version="1.0.0.0" targetFramework="net451" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net451" />
</packages>